In [ ]:
# install octave
!sudo apt-get -qq update
!sudo apt-get -qq install octave octave-signal liboctave-dev

# # install oct2py that compatible with colab
import os

from pkg_resources import get_distribution

os.system(f"pip install -qq"
          f" ipykernel=={get_distribution('ipykernel').version}"
          f" ipython=={get_distribution('ipython').version}"
          f" tornado=={get_distribution('tornado').version}"
          f" oct2py"
          )

# install packages
!pip install -qq matpower matpowercaseframes

In [ ]:
import oct2py

import matpower

print(f"oct2py version: {oct2py.__version__}")
print(f"matpower version: {matpower.__version__}")

oct2py version: 5.5.1
matpower version: 7.1.0.2.1.4

In [ ]:
import os

import pandas as pd
from matpowercaseframes import CaseFrames

from matpower import path_matpower, start_instance

In [ ]:
path = os.path.join(path_matpower, 'data/case9.m')

In [ ]:
cf = CaseFrames(path)
cf.bus

,BUS_I,BUS_TYPE,PD,QD,GS,BS,BUS_AREA,VM,VA,BASE_KV,ZONE,VMAX,VMIN
1,1,3,0,0,0,0,1,1,0,345,1,1.1,0.9
2,2,2,0,0,0,0,1,1,0,345,1,1.1,0.9
3,3,2,0,0,0,0,1,1,0,345,1,1.1,0.9
4,4,1,0,0,0,0,1,1,0,345,1,1.1,0.9
5,5,1,90,30,0,0,1,1,0,345,1,1.1,0.9
6,6,1,0,0,0,0,1,1,0,345,1,1.1,0.9
7,7,1,100,35,0,0,1,1,0,345,1,1.1,0.9
8,8,1,0,0,0,0,1,1,0,345,1,1.1,0.9
9,9,1,125,50,0,0,1,1,0,345,1,1.1,0.9

In [ ]:
m = start_instance()
sol = m.loadcase('case9', verbose=False)
df = pd.DataFrame(sol['bus'], columns=cf.bus.columns)
df

,BUS_I,BUS_TYPE,PD,QD,GS,BS,BUS_AREA,VM,VA,BASE_KV,ZONE,VMAX,VMIN
0,1.0,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
1,2.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
2,3.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
3,4.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
4,5.0,1.0,90.0,30.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
5,6.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
6,7.0,1.0,100.0,35.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
7,8.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9
8,9.0,1.0,125.0,50.0,0.0,0.0,1.0,1.0,0.0,345.0,1.0,1.1,0.9